body {
  background-color: grey;
}

.container {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 758px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 982px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}

.nhh-pic {
  background-image: url("../img/IMG_20190711_181454-nh_in_elevator.jpg");
  background-size: cover;
  padding-bottom: 150%;
  color: red;
  font-weight: bolder;
  }

blockquote {
  font-size: 12px;
}

.legal {
  text-align: center;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e6e6e6;
}

.table-hover > tbody > tr:hover {
  background-color: #80bdff;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.nhh-img {
  float: right;
}

.well {
  padding-bottom: 150%;
}

.jumbotron {
  font-size: 18px;
}
