body {
  background-color: grey;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 758px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 982px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}

blockquote {
  font-size: 12px;
}

.legal {
  text-align: center;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e6e6e6;
}

.table-hover > tbody > tr:hover {
  background-color: #80bdff;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.jumbotron {
  font-size: 18px;
  color: blue;
  background-color: #a9a9a9;
  background-image: url(http://lorempixel.com/g/1191/794/city);
  background-size: auto;
  background-position: left;
  text-emphasis-style: triangle;

}

.well {
  background-color: #a9a9a9;
  background-image: url(http://lorempixel.com/g/1191/794/city);
  background-position: right;
  background-size: cover;
}

.contact {
  /* background-image: url("../img/IMG_20190711_181454-nh_in_elevator.jpg"); */
  /* background-size: cover; */
  color: green;
  font-weight: bolder;
  padding-top: 226px;
  padding-bottom: 12%;
  }

@media (max-width: 768px) {
  .well > .contact {
    padding: 20%;
    color: blue;
    font-weight: bolder;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
  }
  .ifsmall {
    display: none;
  }
}
